@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book Store </h1>
    <img   src="https://w0.peakpx.com/wallpaper/258/94/HD-wallpaper-the-greatest-bookstore-in-the-world-shop-books-painting-flowers-bicycle-store.jpg">

</div>
